@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* styles.css */
:root{
    --color-default:#ff007f;
    --color-second:#ff91a4;
    --color-white:#fff;
    --color-body:#e4e9f7;
    --color-grey:#969494;
    --font-default: "Poppins", sans-serif;
}
/* styles.css */
* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* ALL SECTION ANIMATION HERE */
section.show-animate .animate{
    opacity: 0;
    animation: zoomIn 1s ease forwards;
}
/* 
======================================================================================
NAVIGATION LINKS
======================================================================================
*/
/* Header styling */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    z-index: 1000;
    height: 100px;
}

header.height {
    background-color: #fff;
    transition: 1s ease-in;
    box-shadow: 3px #162938;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header ul {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 20px;
}

header a {
    text-decoration: none;
    color: black;
    position: relative;
    color: #fff;
    font-size: 0.8em;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    text-transform: uppercase;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

header.height a {
    color: #162938;
    animation: slideRight 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

header a::after,
header.height a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scale(0);
    transition: transform .5s;
}

header.height a::after {
    background: #162938;
}

header a.active::after {
    transform: scale(1);
}
.menu-icon, .button-hw {
    display: none;
}
.button-fw {
    display: block;
}
#check {
    display: none;
}
/* 
======================================================================================
FEATURE DROPDOWN 
======================================================================================
*/
/* mobile option for mobile */
.mobile-option {
    display: none;
}
.dropdown{
    height: max-content;
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 6em;
    z-index: 1000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .1s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.dropdown.showDropdown{
    display: block;
}
#dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 30px;
}
.features, .solution{
    margin-left: 10px;
}
.bx{
    font-size: 20px;
    padding: 0 !important;
    margin: 0 !important;
}
.dropdown-container {
    display: flex;
    width: 100%;
    height: 100%;
}
.dropdown-menu {
    display: flex;
    width: 65%;
    gap: 6px;
    flex-wrap: wrap;
    margin: 0 30px 30px 30px;
}
.dropdown-content {
    width: 32.7%;
    height: fit-content;
    padding: 10px;
    align-items: flex-start;
    border-radius: 10px;
    opacity: 0;
    margin-bottom: 8px;
    animation: slideRight 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.dropdown-content:hover {
    background-color: #FFD1DC;
}
.dropdown-content:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    margin-top: 5px;
    order: 0;
    width: 100%;
    height:50px;
}
.dropdown-content:nth-child(1) h4 {
    text-transform: capitalize;
    margin-top: 10px;
    /* font-family:fantasy; */
    font-weight: 800;
    font-size: larger;
}
.dropdown-content:nth-child(1) hr {
    margin-top: 2px;
    border-bottom: none;
    border-color: #ffffff;
}
.dropdown-content a {
    text-decoration: none;
    color: #fff;
}
.dropdown-content h4 {
    display: flex;
    align-items: center;
    margin: 5px 0;
    /* font-family: fantasy; */
    text-transform: capitalize;
    color: #162938;
}
.dropdown-content .bx{
    font-size: 18px;
    padding-bottom: 4px !important;
    margin-right: 6px !important;
    color: #FF91A4;
}
.dropdown-content p {
    margin: 5px 0;
    font-size: 15.5px;
    font-family: serif;
    color: #162938;
}
.extend-dropdown {
    width: 35%;
    background-color: #FFD1DC;
    border-bottom-right-radius: 10px;
}
.extend-dropdown-content {
    display: flex;
    flex-direction: column;
    margin: 0 50px 30px 15px;
    height: 100%;
}
.extend-dropdown-content p {
    font-family: serif;
    color: #605e5e;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
}
.extend-dropdown-content hr {
    border-bottom: none;
}
.extend-dropdown-content button {
    width: 150px;
    height: 50px;
    background: #fff;
    border: 2px solid #605e5e;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    border-radius: 6px;
    color: #454444;
    text-transform: uppercase;
    opacity: 0;
    animation: zoomIn 1s ease forwards;
    animation-delay: .2s;
}
.extend-dropdown-content button:hover {
    background-color: #FF007F;
    color: #fff;
}
.extend-dropdown-title h4 {
    margin-bottom: -5px;
    /* font-family: fantasy; */
    text-transform: capitalize;
    font-weight: 800;
    font-size: larger;
    color: #605e5e;
}
/* 
======================================================================================
END OF FEATURE DROPDOWN
======================================================================================
*/
/* 
======================================================================================
BUTTONS
======================================================================================
*/
header .loginBtn, .section-content .section-article button, form .contact-btn {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    margin-left: 20px;
    transition: .5s;
    text-transform: uppercase;
}

header.height .loginBtn {
    color: #162938;
    background: transparent;
    border: 2px solid #162938;
    margin-left: 20px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .1s;
}

header .loginBtn:hover, .section-content .section-article button:hover, form .contact-btn:hover {
    background: #fff;
    color: #162938;
}

header.height .loginBtn:hover {
    background: #FF007F;
    color: #fff;
}
.navigation a:hover::after{
    transform: scale(1);
    transform-origin: left;
}

/* 
======================================================================================
OWL CAROUSEL
======================================================================================
*/
.section-content{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.section-content img{
    position: relative;
    /* height: 105vh; */
    height: fit-content;
    background-size: cover;
    background-position: center;
    filter: brightness(0.7)
}


.section-content .section-article{
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
}
.section-content .section-article h1, .section-content .section-article p{
    color: #000;
    text-transform: uppercase;
}
.section-content .section-article h1{
    font-family: 'Anton', serif;
    font-size: 45px;
    margin-bottom: 0;
}
.section-content .section-article p{
    font-family: 'Lato', serif;
    font-size: 18px;
    text-align: center;
    width: 45em;
    line-height: 40px;
    color: #fff;
}
.section-content .section-article button{
    width: 200px;
    border: 2px solid #FF007F;
}
.owl-dots {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 55px;
}

.owl-dots span{
    width: 20px !important;
    height: 20px !important;
}
.owl-nav {
    margin: 0 !important;
}
.owl-dots button, .owl-nav button{
    border: none !important;
    outline: none !important;
}
.owl-prev, .owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff !important;
    font-size: 80px !important;
    font-weight: bolder !important;
    background: none !important;
}
.owl-prev{
    left: 1px;
}
.owl-next{
    right: 1px;
}
/* 
======================================================================================
END OF OWL CAROUSEL
======================================================================================
*/
/* 
======================================================================================
LOGO
======================================================================================
*/
.logo img {
    font-size: 2em;
    user-select: none;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    animation: slideRight 1s ease forwards;
}

header.height .logo {
    color: #06b9f7;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
/* 
======================================================================================
END OF LOGO
======================================================================================
*/
/* 
======================================================================================
ABOUT STYLES
======================================================================================
*/
#about{
    height: max-content;
    color: #000;
}
.famec-introduction h2 {
    padding: 0 10px;
}
.famec-intro-contents {
    padding: 10px;
    display: flex;
}
.image-container img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    border-radius: 10px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: .2s, 3s;
}


.why-famec {
    background-color: var(--color-second);
    position: relative;
    height: max-content;
    display: flex;
    padding-bottom: 60px;
}
.why-famec-logo {
    position: relative;
    top: 10px;
    left: 5px;
}
.why-famec-logo img {
    width: 4em;
    border-radius: 10px;
}
.why-famec-contents {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.why-famec-contents h2 {
    text-align: center;
    font-family: serif;
}
.why-famec-placeholders {
    position: relative;
    top: 2.5em;
}
.why-famec-placeholders img {
    background-repeat: no-repeat;
    background-size: contain;
    width: 95%;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}


/* second img */
.famec-dashboard-display {
    display: flex;
    height: max-content;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;

}
.famec-dashboard-display h2 {
    text-align: center;
}
.famec-dashboard-content {
    padding: 0 !important;
}
.dashboard-img{
    position: relative;
    display: flex;
    flex-direction: column;
}
.dashboard-img img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.dashboard-img .form, .dashboard-img h1 {
    position: absolute;
    bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.dashboard-img h1 {
    text-align: center;
    padding-bottom: 4%;
}
.dashboard-img .form input {
    height: 3em;
    width: 50%;
    border-radius: 10px;
    padding: 0 10px;
    border: none;
    outline: none;
    font-size: 1em;
    color: #000;
    letter-spacing: 2px;
}
.dashboard-img .form button {
    width: 9em;
    height: 3em;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    border-radius: 6px;
    color: #fff;
    margin-left: 10px;
    transition: .5s;
    text-transform: uppercase;
}
.dashboard-img .form button:hover {
    background: #fff;
    color: #000;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    gap: 6px;
    align-content: stretch;
    background-color: #ff91a4;

}
.about-sections{
    display: flex;
    width: calc(98.98% / 3);
    border-radius: 10px;
}
.about-sections-contents {
    background-color: #fff;
    width: 100%;
    margin: 3%;
    border-radius: 10px;
    color: #000;
}
.about-sections-contents h4 {
    font-size: larger;
    padding: 0 10px;
    text-align: center;
}
.about-sections-contents p {
    font-family: serif;
    line-height: 30px;
    opacity: 0.7;
    padding: 10px;
}
/* 
======================================================================================
END OF ABOUT STYLES
======================================================================================
*/
/* 
======================================================================================
SERVICES STYLES
======================================================================================
*/
#solution{
    height: 100vh;
    color: #fff;
    text-align: center;
    background-color: #162938;
}
#solution h1{
    margin: 0;
}
/* 
======================================================================================
END OF SERVICES STYLES
======================================================================================
*/

/* 
======================================================================================
BLOG STYLES
======================================================================================
*/
/* 
======================================================================================
END OF BLOG STYLES
======================================================================================
*/
/* 
======================================================================================
CONTACT STYLES
======================================================================================
*/
#contact{
    height: max-content;
    color: #fff;
    text-align: center;
    background-color: #FFD1DC;
    padding-bottom: 10px;
}
.contact-container{
    display: flex;
    height: 100%;
    position: relative;
    top: 15%;
}
.contact-sections {
    width: 45%;
    height: auto;
    background-image: linear-gradient(#FF91A4, #FFD1DC, #FF007F);
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-sections:nth-child(2) {
    width: 55%;
    height: fit-content;
}
.contact-page {
    width: 85%;
    height: 85%;
    margin: 50px;
}
.contact-us-title {
    display: flex;
}
.form-container {
    display: flex;
    height: 90.8%;
    width: 100%;
}
.form-container span{
    color: red;
    font-size: 20px;
}
form {
    margin: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
form .name, form .email, form .phone, form .message {
    display: flex;
    gap: 6px;
}
form .email, form .message{
    gap: 0;
}
.name .firstname, .name .lastname, 
form .email, .phone .country, 
.phone .phone-number, form .message{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 10px 0;
}
.name .firstname input, .name .lastname input, 
.email input, .phone .country input, 
.phone .phone-number input, .message textarea{
    width: 100%;
    height: 40px;
    font-size: larger;
    padding: 10px;
    font-family: serif;
    color: #6f6f6f;
    border-radius: 5px;
}
.message textarea {
    height: 90px;
}
form .contact-btn {
    float: left;
    margin: 0;
    width: 40%;
}
.connect .icon-share{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50%;
}
.connect .icon-share i {
    font-size: 35px;
}
.connect-icon a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.connect-icon a:hover{
    background: #9b9b9b;
    color: #162938;
    box-shadow: 0 0 20px #000000;
}
/* 
======================================================================================
END OF CONTACT STYLES
======================================================================================
*/

/* 
======================================================================================
MEDIA QUERIES
======================================================================================
*/
/* Media query for screens with a maximum width of 767px (typical for mobile devices) */
@media (max-width: 767px) {
    #check:checked~.menu-icon #menu-icon {
        display: none;
    }
    .menu-icon #close-icon {
        display: none;
    }
    #check:checked~.menu-icon #close-icon {
        display: block;
    }
    #header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 10px;
    }
    header a::after,
    header.height a::after {
        display: none;
    }
    header ul {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 0 20px;
    }
    .logo img {
        width: 20%;
        height: 20%;
    }
    .button-fw {
        display: none;
    }
    .menu-icon {
        display: block;
        position: absolute;
        font-size: 40px;
        right: 20px;
    }
    .menu-icon i {
        font-size: 40px;
    }
    #header .navigation {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: .3s ease;
        z-index: 999;
        background: var(--color-second);
        display: block;
    }
    header .navigation a.nav-btn {
        margin-left: 10px;
    }
    #dropdown{
        justify-content: space-between;
    }
    .navigation li{
        margin-right: 20px;
        position: relative;
        width: 100%;
    }
    .navigation li a {
        transform: translateY(-50px);
    }
    .button-hw {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .navigation ul a button.loginBtn {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .navigation li:not(:last-child)::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100%;
        height: .2px;
        background-color: var(--color-grey);
    }

    .mobile-option {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .mobile-option .menu-icons {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .mobile-option .menu-icons i {
        font-size: 40px;
    }

    .dropdown {
        top: 0;
        border-radius: 0;
        width: 100%;
    }
    .dropdown-menu {
        width: 100%;
        margin: 0;
    }
    .dropdown-content {
        width: 100%;
        margin: 0;
        text-emphasis: none;
    }
    .dropdown-container {
        flex-direction: column;
        width: 100%;
    }
    .dropdown-content:nth-child(1) h4 {
        padding-top: 0;
        text-align: center;
        font-size: 15px;
        margin: 0 auto;
    }
    .extend-dropdown {
        width: 100%;
        height: 100vh;
        padding: 15px;
    }
    .extend-dropdown-content {
        margin: 0;
    }
    .extend-dropdown-title h4 {
        margin-top: 0;
    }


    
    .section-content {
        min-height: 60vh
    }
    .section-content img {
        height: 60vh;
    }
    .section-content .section-article {
        padding: 20px; /* Add padding to center content vertically */
        text-align: center; /* Center align text */
    }

    .section-content .section-article h1 {
        font-size: 30px; /* Reduce font size for smaller screens */
    }

    .section-content .section-article p {
        font-size: 16px; /* Reduce font size for smaller screens */
        width: 100%; /* Make text width full width */
    }

    .section-content .section-article button {
        width: 150px; /* Reduce button width for smaller screens */
    }

    
    .famec-intro-contents {
        flex-direction: column; /* Stack contents vertically on mobile */
    }
    .image-container img {
        width: 100%; /* Full width for images on mobile */
    }

    .why-famec {
        flex-direction: column; /* Stack elements vertically on smaller screens */
        padding: 5px;
        height: fit-content;
    }
    .why-famec-contents {
        width: 100%; /* Full width for content on smaller screens */
    }
    .why-famec-logo {
        text-align: center; /* Center the logo on smaller screens */
    }
    .why-famec-logo img {
        width: 4em; /* Reduce logo size on smaller screens */
    }
    .why-famec-placeholders img {
        width: 100%; /* Make images take full width on smaller screens */
    }
    .why-famec-placeholders {
        top: 0;
    }


    .famec-dashboard-content {
        width: 100%; /* Adjust width for mobile */
        padding: 10px; /* Add padding for better spacing */
        top: 55%;
    }
    .dashboard-img h1 {
        font-size: 18px;
    }
    .dashboard-img .form {
        gap: 6px;
        top: 85%;
        /* margin-top: 90%; */
    }
    .dashboard-img .form input {
        height: 2em;
        border-radius: 3px;
    }
    .dashboard-img .form button {
        width: 100%; /* Full width for the button on mobile */
        margin-left: 0; /* Remove margin for the button on mobile */
        font-size: 12px;
        margin-bottom: 0;
    }
    .about-sections {
        width: 100%; /* Make each section take up the full width on mobile */
    }

    .contact-sections:nth-child(1),
    .contact-sections:nth-child(2) {
        width: 100%; /* Both first and second children take full width */
        flex-direction: column; /* Change flex-direction to column */
    }
    .contact-container{
        flex-direction: column-reverse;
    }
}
/* 
======================================================================================
END OF MEDIA QUERIES
======================================================================================
*/


/* 
======================================================================================
Keyframe Animations
======================================================================================
*/

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-24px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes scrollDownAnimation {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) translateY(-10px);
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) translateY(10px);
    }
}
/* 
======================================================================================
END OF Keyframe Animations
======================================================================================
*/