<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Management App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/landing_page.css')  }}">
    <!-- <link rel="stylesheet" href="index.css"> -->
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <section id="home">
            <header id="header" >
                <div class="logo">HMA</div>
                <nav class="navigation">
                    <ul>
                        <li><a class="nav-btn" href="#home" style="--i:1;">home</a></li>
                        <li><a class="nav-btn"  href="#pricing" style="--i:2;">pricing</a></li>
                        <li><a class="nav-btn"  href="#about" style="--i:3;">about</a></li>
                        <li><a class="nav-btn"  href="#blog" style="--i:4;">Blog</a></li>
                        <li><a class="nav-btn"  href="#contact" style="--i:5;">Contact</a></li>
                    </ul>
                </nav>
                <button class="loginBtn">login</button>
            </header>
        <div class="owl-carousel owl-theme">
            <div class="section-content" style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('{{ images[0] }}');">
                <div class="slide-1"></div>
                <div class="section-article">
                    <h1>Organize Your Home</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, corporis ad adipisci neque, incidunt vero similique id quia soluta ducimus velit cupiditate omnis. Facere, iure.</p>
                    <button>Learn</button>
                </div>
            </div>
            <div class="section-content" style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('{{ images[1] }}');">
                <div class="section-article">
                    <h1>Let us plan your home</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, corporis ad adipisci neque, incidunt vero similique id quia soluta ducimus velit cupiditate omnis. Facere, iure.</p>
                    <button>Learn</button>
                </div>
            </div>
            <div class="section-content" style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('{{ images[2] }}');">
                <div class="section-article">
                    <h1>learn about us</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, corporis ad adipisci neque, incidunt vero similique id quia soluta ducimus velit cupiditate omnis. Facere, iure.</p>
                    <button>Learn</button>
                </div>
            </div>
        </div>
    </section>
    <section id="pricing">
        <h1 class="content">This is Pricing</h1>
    </section>
    <section id="about">
        <h1 class="content">This is About</h1>
    </section>
    <section id="blog">
        <h1 class="content">Our Blog Post</h1>
    </section>
    <section id="contact">
        <h1 class="content">Contact Us</h1>
    </section>
    <footer>
        
    </footer>
    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Owl Carousel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- custom javascript -->
    <script src="{{ url_for('static', filename='scripts/index.js')  }}"></script>
</body>
</html>