{% extends "base.html" %}{% block title %}Task{% endblock %}
{% block section_contents %}
{% block task_css %} <link rel="stylesheet" href="{{ url_for('static', filename='styles/task.css')  }}"> {% endblock %}
    <div class="text">Tasks</div>
{% endblock %}

{% block page_contents %}
<div class="ui top attached menu">
    <div class="ui dropdown icon item">
        <i class="wrench icon"></i>
        <div class="menu">
            <div class="item">
            <span class="text" id="new_task">New Task</span>
            </div>
            <div class="item">
                Open...
            </div>
            <div class="item">
                Save...
            </div>
            <div class="item">Edit Permissions</div>
            <div class="divider"></div>
            <div class="header">
                Export
            </div>
            <div class="item">
                Share...
            </div>
        </div>
    </div>
    <div class="right menu">
      <div class="ui right aligned category search item">
        <div class="ui transparent icon input">
          <input class="prompt" type="text" placeholder="Search animals...">
          <i class="search link icon"></i>
        </div>
        <div class="results"></div>
      </div>
    </div>
</div>
<div class="ui bottom attached segment">
<!-- page Tables -->
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Task Title</th>
                <th>Task Description</th>
                <th>Due Date</th>
                <th>Date Created</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td data-label="Name">James</td>
            <td data-label="Age">24</td>
            <td data-label="Job">Engineer</td>
            <td data-label="Job">Engineer</td>
            <td data-label="Job">Engineer</td>
        </tr>
        <tr>
            <td data-label="Name">Jill</td>
            <td data-label="Age">26</td>
            <td data-label="Job">Engineer</td>
            <td data-label="Job">Engineer</td>
            <td data-label="Job">Engineer</td>
        </tr>
        <tr>
            <td data-label="Name">Elyse</td>
            <td data-label="Age">24</td>
            <td data-label="Job">Designer</td>
            <td data-label="Job">Designer</td>
            <td data-label="Job">Designer</td>
        </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="5">
                    <div class="ui right floated pagination menu">
                        <a class="icon item">
                        <i class="left chevron icon"></i>
                        </a>
                        <a class="item">1</a>
                        <a class="item">2</a>
                        <a class="item">3</a>
                        <a class="item">4</a>
                        <a class="icon item">
                        <i class="right chevron icon"></i>
                        </a>
                    </div>
                </th>
            </tr>
        </tfoot>
    </table>
</div>
  <!-- Page modals -->
    <div class="ui modal new_task">
        <div class="header">Add New Task</div>
        <div class="content">
            <form class="ui form" method="POST" action="{{ url_for('views.tasks') }}">
                <div class="field">
                    <label>Task Title</label>
                    <input type="text" name="task_title" placeholder="Task Title...">
                </div>
                <div class="field">
                    <label>Description</label>
                    <textarea rows="2" style="height: 56px;" name="description"></textarea>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Priority</label>
                        <select class="ui fluid search dropdown" name="priority">
                          <option value="">Priority</option>
                          <option value="High">High</option>
                          <option value="Medium">Medium</option>
                          <option value="Low">Low</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Due Date</label>
                        <input placeholder="Due Date" name="due_date" type="date">
                    </div>
                </div>
                <div class="actions footer">
                    <button class="ui approve button" type="submit">Create Task</button>
                    <div class="ui cancel button">Cancel</div>
                </div>
            </form>
        </div>
        <!-- <div class="actions">
            <div class="ui approve button">Create Task</div>
            <div class="ui cancel button">Cancel</div>
        </div> -->
    </div>
{% endblock %}