{% extends "base.html" %}{% block title %}users{% endblock %}
{% block section_contents %}
    <div class="text">Users</div>
{% endblock %}
<div class="ui inverted segment">
    {% block section_contents %}{% endblock %}
        {% with messages = get_flashed_messages(with_categories = true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'success' %}
                        <div class="ui success message">
                            <i class="close icon"></i>
                            <div class="header">
                            {{ message }}
                            </div>
                            <!-- <p>You may now log-in with the username you have chosen</p> -->
                        </div>
                    {% else %}
                        <div class="ui negative message">
                            <i class="close icon"></i>
                            <div class="header">
                            {{ message }}
                            </div>
                            <!-- <p>That offer has expired</p> -->
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    <div class="ui right floated floating dropdown labeled icon button">
        <div class="floated">
            <img class="ui avatar image" src="{{ url_for('static', filename='images/avatar.png')  }}">
            {% if user.is_authenticated %}
                {{ user.firstname }}
            {% endif %}
        </div>
        <div class="scrolling menu">
          <div class="header">
            Navigation Menu
          </div>
          <div class="scrolling menu">
            <a class="item" href="{{ url_for('views.notification') }}">
                <i class="icon mail"></i> Notification
            </a>
            <a class="item" href="{{ url_for('views.settings') }}">
                <i class="icon setting"></i> Settings
            </a>
            <a class="item" href="{{ url_for('auth.logout') }}">
                <i class="icon logout"></i> Logout
            </a>
          </div>
        </div>
    </div>
    <div class="ui right floated compact menu">
        <a class="item" href="{{ url_for('views.notification') }}">
          <i class="icon bell"></i>
          <div class="floating ui circular red label">{{ notification_counter }}</div>
        </a>
        <a class="item"  href="{{ url_for('views.tasks') }}">
            <i class='bx bx-task'></i> Tasks
            <div class="floating ui circular teal label">{{ task_counter }}</div>
        </a> 
    </div>
  </div>